{% extends "webapp/base.html" %}

{% block content %}
    <h1 style="margin-bottom: 5px">You're watching these plants!</h1>
    <div style="font-weight: 300; margin-bottom: 50px;">Thank you for making the world a greener place.</div>

    {% if sensors %}
        <div id="sensors">
        {% for sensor in sensors %}

            <div class="sensor">
                <a href="/admin/webapp/sensor/{{ sensor.id }}/">
                    <h2>Sensor {{ sensor.id }} with serial number {{ sensor.serial_number }}</h2>
                </a>

                {% if sensor.monitoring_plant %}
                    This sensor is monitoring a {{ sensor.monitoring_plant }}!
                {% endif %}
                The plant's moisture level is
                <div class="moisture_background">
                    <div class="moisture">{{ sensor.latest_reading.moisture }}</div>
                </div>
                Registered {{ sensor.latest_reading.timestamp }}
            </div>
            <div class="frontpage_line"></div>

        {% endfor %}
        </div>
    {% else %}
        <p>Fant ingen sensorer! <a href="/admin">Legg til noen?</a></p>
    {% endif %}


<style>

    .sensor a {
        color: black;
    }

    .sensor a:hover {
        text-decoration: underline;
        color: black;
    }

    .frontpage_line {
        width: 50%;
        margin: 50px auto;
        border-bottom: 1px solid black;
    }

    .frontpage_line:last-child{
        border-bottom: none;
    }

    .moisture_background {
        width: 150px;
        height: 150px;
        background-image: url(/assets/water_icon2.png);
        background-repeat: no-repeat;
        background-size: 150px;
        margin: 10px 0 10px 20px;
        text-align: center;
    }

    .moisture{
        font-size: 60px;
        margin: 0 auto;
        padding-top: 32px;
        font-weight: 700;
        color: white;
    }

</style>

{% endblock %}
