{% extends "webapp/base.html" %}

{% block content %}
    <h1 style="margin-bottom: 5px">You're watching these plants!</h1>
    <div style="font-weight: 300; margin-bottom: 50px;">Thank you for making the world a greener place.</div>

        {% if sensors %}
        <div id="sensors">
        {% for sensor in sensors %}

            <div class="frontpage_line"></div>
            <div class="sensor">

                <a href="/admin/webapp/sensor/{{ sensor.id }}/" class="sensorHeader">
                    <h2>Sensor {{ sensor.id }} with serial number {{ sensor.serial_number }}</h2>
                </a>

                <div class="sensorContent">

                    <div class="leftContent">
                        {% if sensor.monitoring_plant %}
                            This sensor is monitoring a {{ sensor.monitoring_plant }}!
                        {% endif %}
                        The plant's moisture level in % is
                        <div class="moisture_background">
                            <div class="moisture">{{ sensor.latest_reading.moisture }}</div>
                        </div>
                        <span style="font-weight: 200">Registered {{ sensor.latest_reading.timestamp }}</span>
                    </div>

                    <div class="rightContent">
                        <img
                            src="/assets/latest_chart.png"
                            width="500"
                            id="logo"
                        />
                    </div>

                </div>
            </div>

        {% endfor %}
        </div>
    {% else %}
        <p>Fant ingen sensorer! <a href="/admin">Legg til noen?</a></p>
    {% endif %}

<style>

    .sensor {
        display: flex;
        flex-direction: column;
    }

    .sensor a {
        color: black;
    }

    .sensor a:hover {
        text-decoration: underline;
        color: black;
    }

    .sensorHeader {
        order: 1;
        margin-bottom: 15px;
    }

    .sensorHeader h2 {
        margin-top: 0;
    }

    .sensorContent {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 200;
    }

    .leftContent {
        order: 1;
        padding-top: 20px;
    }

    .rightContent {
        order: 2;
    }

    .frontpage_line {
        width: 50%;
        margin: 75px auto;
        border-bottom: 1px solid black;
    }

    .frontpage_line:nth-of-type(1) {
        display: none;
    }

    .moisture_background {
        width: 150px;
        height: 150px;
        background-image: url(/assets/water_icon2.png);
        background-repeat: no-repeat;
        background-size: 150px;
        margin: 10px 0 10px 45px;
        text-align: center;
    }

    .moisture{
        font-size: 60px;
        margin: 0 auto;
        padding-top: 32px;
        font-weight: 700;
        color: white;
    }

</style>

{% endblock %}
